{% include "header.html" %}

<!-- Page Header -->
<header>
    <div class="overlay"></div>

    <link href="static/css/styles.css" rel="stylesheet">
    <link href="https://github.com/Pwnafication/Web-Development/blob/10253123f53660798b38956d38dfe9bb5d917a44/StarterProjects/CactusBeach%20Website/real_cactus.png?raw=true"
          rel="icon">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&family=Montserrat&family=Sacramento&display=swap"
          rel="stylesheet">
</header>

<!-- Main Content -->
<body>
<img alt="cactus-image"
     class="cactus1"
     src="https://github.com/Pwnafication/Web-Development/blob/3b50b5bfa5ffed12000d143dd238ee341de8bd79/StarterProjects/CactusBeach%20Website/cactus.png?raw=true">
<div class="top-container">
    <img alt="cloud-image"
         class="cloud1"
         src="https://github.com/Pwnafication/Web-Development/blob/3b50b5bfa5ffed12000d143dd238ee341de8bd79/StarterProjects/CactusBeach%20Website/cloud.png?raw=true">
    <h1>I'm Alexander</h1>
    <h2>a Senior <span class=pro> Full Stack Developer and DevOps Engineer</span></h2>
    <img alt="cloud-image"
         class="cloud2"
         src="https://github.com/Pwnafication/Web-Development/blob/3b50b5bfa5ffed12000d143dd238ee341de8bd79/StarterProjects/CactusBeach%20Website/cloud.png?raw=true">
    <img alt="mountain-image"
         class="mountain1"
         src="https://github.com/Pwnafication/Web-Development/blob/3b50b5bfa5ffed12000d143dd238ee341de8bd79/StarterProjects/CactusBeach%20Website/mountain.png?raw=true">
</div>
<div class="middle-container">
    <div class="profile">
        <img alt="alex-image"
             class="alex-image"
             src="https://github.com/Pwnafication/Web-Development/blob/main/StarterProjects/CactusBeach%20Website/Me%20Photo.jpg?raw=true">
        <p></p>
        <h2>Hello.</h2>
        <p class="intro">I am also a Solution Architect, Certified Public Accountant, and Trading Master at the <strong><a
                href="https://secure.runescape.com/m=itemdb_rs/">The Grand Exchange</a></strong></p>
    </div>
    <hr>
    <div class="skills">
        <h2>My Qualifications.</h2>
        <div class="skill-row">
            <img alt="cute-cactus-image"
                 class="cute-cactus"
                 src="https://github.com/Pwnafication/Web-Development/blob/10253123f53660798b38956d38dfe9bb5d917a44/StarterProjects/CactusBeach%20Website/cute-cactus.png?raw=true">
            <h3>Education</h3>
            <li>Bachelors of Science in Accounting</li>
            <li>Bachelors of Science in Finance</li>
        </div>
        <div class="skill-row">
            <img alt="chillies-image"
                 class="chillies"
                 src="https://github.com/Pwnafication/Web-Development/blob/3b50b5bfa5ffed12000d143dd238ee341de8bd79/StarterProjects/CactusBeach%20Website/chillies.png?raw=true">
            <h3>Certifications</h3>
            <li>AWS Certified Developer</li>
            <li>AWS Certified Solution Architect</li>
            <li>Certified Public Accountant (CPA)</li>
            <li>UiPath Advanced RPA Developer Certification</li>
            <li>CompTIA Security+ CE</li>
        </div>
    </div>
    <hr>
    <div class="contact-me">
        <h3>Work Experience</h3>
        <p></p>
  <table cellspacing="10", align="center">
    <thead>
      <tr>
        <th><strong>Years</strong></th>
        <th><strong>Work</strong></th>
      </tr>
    </thead>
    <tr>
      <td>2020-Present</td>
      <td>Senior Developer @ Deloitte</td>
    <tr>
      <td>2019-2020</td>
      <td>Cybersecurity Consultant @ Guidehouse</td>
    <tr>
      <td>2019-2019</td>
      <td>IT Audit Controls Lead @ RM Advisory Services, LLP</td>
    <tr>
      <td>2018-2019</td>
      <td>Bank Examiner @ The FDIC</td>
    </tr>
</table>
        <hr>
        <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
    </div>
</div>
<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright">© 2023 Alexander Jogthong @ Deloitte.</p>
</div>

</body>

<hr>

{% include "footer.html" %}