<head>

	<!-- include rpgui -->
	<link href="static/css/rpgui.min.css" rel="stylesheet" type="text/css" >
	<script src="static/js/rpgui.min.js"></script>
    <link href="static/css/game-styles.css" rel="stylesheet">

</head>



<body>

	<div class="rpgui-content">

        <div class="rpgui-container framed rpgui-draggable" style="text-align:left; height:130px; width:90%; top: 300px; left: 50px;">
            <p>RPGUI buttons
                <button class="rpgui-button" type="button" style="width:200px"><p>New Game</p></button>
				<button class="rpgui-button" type="button" style="width:200px"><p>Exit</p></button>
            </p>

        </div>

	</div>
</body>

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      TGIF117
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="#1">Create New Account/Login</a>
  </div>
</div>