{% include "game_demo_header.html" %}

  <!-- Main Content -->

<table align="center">
    <tr>
        <td>
            <button class="upgrade_btn" type="button" >Upgrade Health</button>
        </td>
        <td>
            <button class="upgrade_btn" type="button" >Upgrade Energy</button>
        </td>
        <td>
            <button class="upgrade_btn" type="button" >Upgrade Attack</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="upgrade_btn" type="button" >Upgrade Defense</button>
        </td>
        <td>
            <button class="upgrade_btn" type="button" >Contract +10 Military Units</button>
        </td>
        <td>
            <button class="upgrade_btn" type="button" >Scavenge for +10 Raw Meats</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="upgrade_btn" type="button" >Smith +10 Iron Ingots</button>
        </td>
        <td>
            <button class="upgrade_btn" type="button" >Craft +10 Muskets</button>
        </td>
        <td>
            <button class="upgrade_btn" type="button" >Expedition for +10 Quarium</button>
        </td>
    </tr>
</table>

{% include "footer.html" %}