{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "login_header.html" %}
<link href="static/css/game-styles.css" rel="stylesheet">

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('static/css/images/portal photo for login.png.png')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1 style="font-family: 'King Castle'">Enter the Portal</h1>
                    <span class="subheading" style="font-family: 'King Castle'">Welcome Back, Adventurer!</span>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p style="text-align: center">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="container" style="padding: 50px; padding-bottom: 100px; color:white">
                    <div class="row">

                        <div class="col-lg-8 col-md-10 mx-auto content">
                            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>

<body style="background-color: #2D2727">

</body>

{% endblock %}